<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- nodetasktracker -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3684353704986501"
            data-ad-slot="5847824953"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="col-md-6">


      <div class="row">
        <div class="col-md-6 offset-3">
          <h4 class="text-center text-info pb-3">Login!</h4>
          <form action="/login", method="POST">
            <div class="form-group">
              <label for="email" class="text-info">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn-success btn">Login</button>
            </div>
          </form>
        </div>
      </div>


    </div>
    <div class="col-md-3">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- nodetasktracker -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3684353704986501"
            data-ad-slot="5847824953"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
